{% extends "auctions/layout.html" %}

{% block body %}

{% if faled %}

<div class="alert alert-danger" role="alert" style="width: 80%;">
    Fail!!!!!
</div>

{% endif %}
<div class="h-auto w-100 p-3 d-flex justify-content-center bg-transparent">
    <div class="card h-auto w-50 p-0 d-flex justify-content-center">
        <div class="card-header" style="background-color: #aba8ff;">
          Add 
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <form action="{% url 'add' %}" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    {% csrf_token %}
                    {{form}}
                </div>
                <div class="d-flex justify-content-end">
                    <input type="submit" value="Adicionar" class="btn btn-primary">
                </div>
                
            </form>
          </blockquote>
        </div>
    </div>
</div>



    

{% endblock %}