{% load static %}

<!DOCTYPE html>
<html class="h-100 " style="background-color: rgb(207, 207, 207);" lang="en">
    <head >
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body  class="h-100 bg-transparent">
        <header class="">
            <nav class="navbar navbar-expand-lg navbar-light  bg-gradient" style="background-color: #aba8ff;">
                <div class="container-fluid">
                    <div>
                        <a class="navbar-brand" href="#">
                            <img src="media/media/logo-new.png" alt="" width="30" height="24" class="d-inline-block align-top">uctions
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                            </li>
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'add' %}">Add</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="?user_request=my_items">Meus Itens</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                                </li>
            
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Categorys
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/">Todas</a></li>
                                    {% for category in categorys %}
                                    <li><a class="dropdown-item" href="?category={{category}}">{{category}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {% if user.is_authenticated %}
                    <p class="nav-item m-4 mb-0 mt-0">Ola,<strong>{{user.username}}</strong>!!</p>
                    {% else %}
                    <p class="nav-item"></p>
                    {% endif %}
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </header>
        
  
        {% block body %}
        {% endblock %}
    </body>
</html>
